{% extends 'base.html' %} 

{% block title %} Index Page {% endblock %} 

{% block template %}
<section>
  {% include 'blog/components/splash.html' %}

  	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8">
				{% for post in posts %}
				<a href="#" class="text-decoration-none infscroll">
					<div class="card border-0 pb-3 pb-sm-5">
						<div class="card-body">
							<div class="row">
								<div class="col-8">
									<article>
										<p class="pb-2 text-body">{{ post.author }}</p>
										<h1 class="mb-1 fs-4 text-body fw-bold">{{ post.title|truncatechars:20 }}</h1>
										<h2 class="text-muted fs-6 d-none d-sm-block">{{ post.subtitle }}</h2>
										<p class="text-muted">{{ post.updated_at|date:"M d" }}</p>
									</article>
								</div>
	
								<div class="col-4">
									<figure>
										<img src="https://picsum.photos/256/128" class="img-fluid float-end" alt="Article">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="d-none d-lg-block col-4">b</div>
		</div>
  	</div>
</section>
{% endblock %}
